---
// BlogCard.astro
export interface BlogCardProps {
  title: string;
  image: string;
  link: string;
  province?: string;
}
const { title, image, link, province } = Astro.props;
---

<div class="container mx-auto flex justify-center">
  <div class="mx-4 border-2 rounded-lg mb-2">
    <a href={link} target="_blank">
        <img src={image} alt={title} class="object-cover h-48 md:h-64 lg:h-48 mb-2" />
        <div class="p-4">
          <h2 class="text-center text-3xl text-blue-800 p-2">{title}</h2>
          <p class="text-center text-xl text-blue-800 p-2">{province}</p>
        </div>
    </a>
  </div>
</div>

