---
import '../styles/global.css';

interface Props {
  title: string;
  subtitle?: string;
  tagline?: string;
  align?: 'start' | 'center';
  image?: string | { src: string; alt: string };
  icon?: string;
}

const { align = 'center', tagline, title, subtitle, image, icon } = Astro.props;

---

<div class:list={['headline', align]}>
    <div class="background-image absolute inset-0 z-0 opacity-20">
      {image && typeof image === 'string' ? (
        <img src={image} alt="Image" class="w-full h-full object-cover"/>
      ) : (
        image && <img src={image.src} alt={image.alt} class="w-full h-full object-cover" />
      )}
    </div>
    <div class="relative z-10 text-center">
      <h1 class="text-4xl text-gray-900 p-2 font-sans">{title}</h1>
      <h2 class="text-4xl text-gray-800 p-2 font-cursive">{subtitle}</h2>
      <p class="text-xl text-gray-800 my-2">{tagline}</p>
    </div>
  </div>

<style>
  p {
    width: 800px;
  }
</style>
